@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.flex-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-admin__picture img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.flex-admin .director img {
  width: 130%;
  position: relative;
  top: -30px;
  left: -40px;
}

.flex-admin__item {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.flex-admin__picture {
  display: inline-block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
}

@media (max-width: 767px) {
  .flex-admin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-admin .director img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  .flex-admin__item {
    height: auto;
  }
  .flex-admin__picture {
    height: auto;
  }
}

.docs__list li {
  display: block;
  padding-left: 45px;
  padding-right: 45px;
}

.btn {
  display: block;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  border-radius: 23px;
  background-color: yellow;
  color: gray;
  padding-top: 10px;
  font-size: 20px;
  border: 3px gray solid;
  margin-bottom: 20px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn:hover {
  background-color: gray;
  color: #fff;
  border-color: yellow;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.about p {
  display: block;
  margin-bottom: 20px;
}

.news a {
  color: #000000;
}

.news a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.timetable-jun {
  display: -ms-grid;
  display: grid;
  color: black;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

.timetable-jun__item {
  border: 1px solid gray;
}

.timetable-jun__monday-row_1 {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.timetable-jun__name-day {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 6;
}

.timetable-jun__time {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

body {
  height: 100%;
  font-family: 'Oswald', sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: gray 0px 5px 5px;
          box-shadow: gray 0px 5px 5px;
  z-index: 2;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.main__picture img {
  width: 100%;
}

.about {
  overflow: hidden;
  height: 100%;
  padding: 0px;
  color: white;
  text-align: center;
}

.about__picture {
  height: 500px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.about__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: contrast(78%);
          filter: contrast(78%);
}

.about__name {
  margin-top: -480px;
  height: 500px;
  text-shadow: 0 0 10px #000;
  padding: 0 0 20px 0;
  position: relative;
  z-index: 2;
}

.line {
  display: inline-block;
  width: 90%;
  height: 10px;
  border-radius: 2px;
  background-color: yellow;
}

.title {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 2;
}

.sub-title {
  text-transform: uppercase;
  font-size: 29px;
  line-height: 2;
  color: #000000;
  font-size: 35px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.accented {
  color: yellow;
}

.name-page {
  text-align: center;
  font-size: 76px;
  line-height: 2;
  font-weight: bold;
}

.news {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #ffffff;
  line-height: 1.5;
}

.news p {
  margin-bottom: 12px;
}

.news::after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background-color: yellow;
  border-radius: 2px;
}

.news__title {
  font-family: 'Oswald', sans-serif;
}

.footer {
  background-color: gray;
  padding: 10px 0;
}

.footer .container-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  color: #000000;
}

.footer a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.footer__item {
  background-color: #f7f7f7;
  border-radius: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  overflow: hidden;
  padding: 0 12px 10px;
  margin: 0 4px;
  font-family: 'Open Sans',sfns-serif;
  font-size: 18px;
  line-height: 2;
}

.founder {
  padding: 15px 0;
  text-align: center;
}

.thin {
  font-family: 'Oswlad', sans-serif;
  font-size: 20px;
  line-height: 34px;
}

.black {
  color: #000;
}

.bold {
  font-weight: bold;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
}

.text-list::before {
  content: '';
  display: inline-block;
  background-color: #000;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  margin-right: 12px;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .main {
    padding: 80px 0 0 0;
  }
  .about {
    overflow: hidden;
    height: 100%;
    padding: 0px;
    color: white;
    text-align: center;
  }
  .about__picture {
    height: 500px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .about__picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__name {
    margin-top: -500px;
    height: 500px;
    text-shadow: 0 0 10px #000;
    padding: 100px 0 20px 0;
    position: relative;
    z-index: 2;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 50px 0 0 0;
  }
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 24px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #1f1f1f;
    left: 0%;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #1f1f1f;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 2px;
  }
  .header__burger::after {
    bottom: 2px;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #a8a8a8;
    padding: 70px 10px 20px 10px;
  }
  .header__menu.active {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 600px) {
  .footer .container-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container-flex .footer__item {
    margin-bottom: 8px;
  }
}

@media (max-width: 419px) {
  .main {
    padding: 45px 0 0 0;
  }
  .title {
    font-size: 42px;
  }
  p.sub-title {
    font-size: 25px;
    line-height: 1.5;
  }
  .header__list li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 35px;
  }
  .about {
    overflow: hidden;
    height: 100%;
    padding: 0px;
    color: white;
    text-align: center;
  }
  .about__picture {
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .about__picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__name {
    margin-top: -380px;
    height: 400px;
    text-shadow: 0 0 10px #000;
    padding: 0 0 20px 0;
    position: relative;
    z-index: 2;
  }
  .footer .container-flex {
    text-align: center;
  }
}
