@import "_nullstyle", "_adminstyle", "_officialdocstyle" , "_distancestudystyle", "_contactstyle", "_timetable";

body{
    height: 100%;
    font-family: 'Oswald', sans-serif;
    // font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

// heder style
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: gray 0px 5px 5px;
    z-index: 2;
}

.header { 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

		// .header__body

		&__body {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            height: 80px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
		}

		// .header__logo

		&__logo {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 60px;
            flex: 0 0 60px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            z-index: 3;
		}
        &__logo img{
            max-width: 100%;
            display: block;
            
        }

		// .header__burger

		&__burger {
            display: none;
		}

		// .header__menu

		&__menu {
		}

		// .header__list

		&__list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            z-index: 2;
		}

        &__list li{
            list-style: none;
            margin: 0px 0px 0px 20px;
        }

		// .header__link

		&__link {
            color: #000000;
            text-transform: uppercase;
            font-size: 18px;
            text-decoration: none;
            
		}

}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

// main style
.main {
    
    &__picture img{
        width: 100%;
        
    }
    &__picture{
        
    }
}

.about {
    overflow: hidden;
    height: 100%;
    padding: 0px;
    color: white;
    text-align: center;
    
    &__picture{
        height: 500px;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    &__picture img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter:contrast(78%);
    }
    &__name{
        margin-top : -480px;
        height: 500px;
        text-shadow: 0 0 10px #000;
        padding:0 0 20px 0;
        position: relative;
        z-index: 2;
    }
}


.line{
    display: inline-block;
    width: 90%;
    height: 10px;
    border-radius: 2px;
    background-color: yellow;
}
.title{
    text-transform: uppercase;
    font-size: 60px;
    line-height: 2;
}
.sub-title{
    text-transform: uppercase;
    font-size: 29px;
    line-height: 2;
    color: #000000;
    font-size: 35px;
    font-weight: normal;
    position: relative;
    z-index: 2;
}
.accented{
    color: yellow;
}
.name-page{
    text-align: center;
    font-size: 76px;
    line-height: 2;
    font-weight: bold;
}
.news {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #ffffff;
    line-height: 1.5;
    p{
        margin-bottom: 12px;
    }
    
}
.news::after{
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-color: yellow;
    border-radius: 2px;
}
.news__title{
    font-family: 'Oswald', sans-serif;
    
}
.footer{
    background-color: gray;
    padding: 10px 0;
}
.footer .container-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer a{
    color: #000000;
}
.footer a:hover{
    font-weight: bold;
    text-decoration: underline;
    
}
.footer__item{
    background-color: #f7f7f7;
    border-radius: 4px;
    flex: 1 1 33% ;
    overflow: hidden;
    padding:0 12px 10px;
    margin: 0 4px;
    font-family: 'Open Sans',sfns-serif;
    font-size: 18px;
    line-height: 2;
    
    
    
}
.founder{
    padding: 15px 0;
    text-align: center;
}
.thin{
    font-family: 'Oswlad', sans-serif;
    font-size: 20px;
    line-height: 34px;
}
.black{
    color: #000;
}
.bold{
    font-weight: bold;
}
.bold-italic {
    font-weight: bold;
    font-style: italic;
}
.text-list::before {
    content: '';
    display: inline-block;
    background-color: #000;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    margin-right: 12px;
    margin-bottom: 4px;
}
.address{
}
.contacts{
}
.share {
    
		// .share__item

		&__item{
            
		}
}
.contact {
    

		// .contact__item

		&__item {
		}
}
// below is the style for Responsive View

@media (min-width: 768px){
    .main{
        padding: 80px 0 0 0;
    }
    .about {
        overflow: hidden;
        height: 100%;
        padding: 0px;
        color: white;
        text-align: center;
        
        &__picture{
            height: 500px;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }
        &__picture img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
        &__name{
            margin-top : -500px;
            height: 500px;
            text-shadow: 0 0 10px #000;
            padding:100px 0 20px 0;
            position: relative;
            z-index: 2;
        }
    }
}
@media (max-width: 767px) {
    .main{
        padding: 50px 0 0 0;
    }
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 50px;
    }
    .header__logo {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 24px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #1f1f1f;
        left: 0%;
        width: 100%;
        height: 2px;
        top: 9px;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #1f1f1f;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before {
        top: 2px;
    }
    .header__burger::after {
        bottom: 2px;
    }
    .header__burger.active::before {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
        top: 9px;
    }
    .header__burger.active::after {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        bottom: 9px;
    }
    .header__burger.active span {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #a8a8a8;
        padding: 70px 10px 20px 10px;
    }
    .header__menu.active {
        top: 0;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__list {
        display: block;
    }
    .header__list li {
        margin: 0 0 20px 0;
    }
    
}

@media(max-width: 600px){
    .footer .container-flex{
        flex-direction: column;
        .footer__item{
            margin-bottom: 8px;
        }
    }
}



@media(max-width: 419px){
    .main{
        padding: 45px 0 0 0;
    }


    
    .title{
        font-size: 42px;
    }
    p.sub-title{
        font-size: 25px;
        line-height: 1.5;
    }
    .header__list li{
        justify-content: center;
        text-align: center;
        font-size: 35px;
    }
    .about {
        overflow: hidden;
        height: 100%;
        padding: 0px;
        color: white;
        text-align: center;
        
        &__picture{
            height: 400px;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }
        &__picture img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
        &__name{
            margin-top : -380px;
            height: 400px;
            text-shadow: 0 0 10px #000;
            padding:0 0 20px 0;
            position: relative;
            z-index: 2;
        }
    }
    .footer .container-flex{
        text-align: center;

    }
}


